body{
    margin: 0;
    background-color: rgb(233,197,130);
}
.bigWrapper{
    width: 100%;
    max-width: 800px;
    margin: auto;
}
.headline{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.paragraph{
    text-align: center;
    font-family: monospace;
}
.headline2{
    text-align: center;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.buttons{
    font-family: fantasy;
    display: flex;
    justify-content:space-between;
}
.buttonElement{
    border: 2px black solid;
    padding: 2px;
    text-decoration: none;
    color: black;
    margin-bottom: 100px;
    margin-top: 10px;
}
.buttonElement:hover{
    background-color: rbg(240,230,170);
    color: white;
}